# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Students-manager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
